{% extends 'base.html' %}

{% block head %}
<style>
/* Actual card with shadow */
    .card1 {
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
    align-self: center;
    }

</style>

<title>Public Speaking Practice</title>
{% endblock %}

{% block body %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo">
                                <img
                                src="{{url_for('static',filename='assets/images/logo.png')}}"
                                alt="">
                            </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href={{ url_for('uploading') }}>
                                Practice
                            </a></li>
                        <!--    <li class="scroll-to-section"><a href="#services">Services</a></li> -->
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** important Area start ***** -->
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s" style="padding-left: 2cm; padding: right 2cm;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6 align-self-center">
                  <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="row">
                      <div class="col-lg-12">
                        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; color: #00bfff"><b>For ambitious Leaders and
                          Professionals who want to :</b></h5>
                      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Improve Communication, Sound more
                          confident and become a powerful public speaker</h1><br>
                      <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; color: #00bfff"><b>With AI-powered solution for practicing your presentations and getting instant feedback on areas of improvement.</b>
                      </h5><br>
                      <a href={{ url_for('uploading') }}><button id="next" class="btn btn-success">Start Practicing Now!</button></a>
                      <br><br>
                      </div>
    
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{{url_for('static',filename='assets/images/speak.png')}}" alt="" style="height: 15cm; width: 15cm;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<!-- ***** temp commented - tips***** -->
<!--
<center>
<section class="section" id="blog">

    <div class="container mb-3">
        <h3 class="section-title mb-5" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #040607">Bonus Tip for improving speech practice:</h3>
              
                <div class="cont">
                   
                    <div class="card1" style="background-color: rgb(244, 244, 252);">
               
                        <div class="line-dec"></div>
                        <h6>Pick 1-5 words from your daily newspaper and try
                            making up a speech from that. Record with this AI friend and keep improving by watching
                            yourself and the feedback.<br></h6>
                              <h6> Perfection comes with practicing, recording the scopes for improvement and then improving on
                                    them with more practice. You’ll be a great public speaker if you are motivated to make it
                                    happen and follow the routine. All The Best!!</h6>
                                    <br><br>

                        <div class="line-dec"></div>
                    
                    
            </div>
        </div>
    </div>
</section>
</center>
-->
<!-- ***** temp commented end ***** -->

                <!-- ***** important End ***** -->

<!-- ***** temp commented - services***** -->
<!--
                <div id="services" class="services section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading  wow fadeInDown" data-wow-duration="1s"
                                    data-wow-delay="0.5s">

                                    <h4>What Our Team <em>Provides</em></h4>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="naccs">
                                    <div class="grid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="menu">
                                                    <div class="first-thumb active">
                                                        <div class="thumb">
                                                            <span class="icon"><img
                                                                    src="{{url_for('static',filename='assets/images/service-icon-01.png')}}"
                                                                    alt=""></span>
                                                            Suggestions
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="thumb">
                                                            <span class="icon"><img
                                                                    src="{{url_for('static',filename='assets/images/service-icon-02.png')}}"
                                                                    alt=""></span>
                                                            Improvement
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="thumb">
                                                            <span class="icon"><img
                                                                    src="{{url_for('static',filename='assets/images/service-icon-03.png')}}"
                                                                    alt=""></span>
                                                            Platform
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="thumb">
                                                            <span class="icon"><img
                                                                    src="{{url_for('static',filename='assets/images/service-icon-04.png')}}"
                                                                    alt=""></span>
                                                            Practice
                                                        </div>
                                                    </div>
                                                    <div class="last-thumb">
                                                        <div class="thumb">
                                                            <span class="icon"><img
                                                                    src="{{url_for('static',filename='assets/images/service-icon-01.png')}}"
                                                                    alt=""></span>
                                                            Much more
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-12">
                                                <ul class="nacc">
                                                    <li class="active">
                                                        <div>
                                                            <div class="thumb">
                                                                <div class="row">
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="left-text">
                                                                            <h4>Suggestions</h4>
                                                                            <p>If public speaking makes you anxious,
                                                                                there can be a
                                                                                tendency to write your speech
                                                                                out word for word so you can look
                                                                                at it if you forget your next statement.
                                                                                However, if
                                                                                you’ve ever watched a speaker
                                                                                read from their notes the entire time
                                                                                they are on
                                                                                stage, you know that this isn’t
                                                                                effective. You will lose your audience.
                                                                                Instead,
                                                                                keep your notes to a minimum, using
                                                                                only one- or two-word prompts for each
                                                                                point you
                                                                                want to make.
                                                                                This will help you keep your place
                                                                                without
                                                                                detracting from your audience.</p>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="right-image">
                                                                            <img src="{{url_for('static',filename='assets/images/services-image.jpg')}}"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <div class="thumb">
                                                                <div class="row">
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="left-text">
                                                                            <h4>Improvement</h4>
                                                                            <p>One of the biggest distractions as an
                                                                                audience member
                                                                                is a speaker who constantly
                                                                                says “uh” or “um.” These fillers are
                                                                                typically used
                                                                                as a way to say something,
                                                                                anything, while you’re thinking of your
                                                                                next point.
                                                                                But some of the best speakers know
                                                                                that “the pause” is not something to
                                                                                avoid. A
                                                                                well-timed break in speaking can even be
                                                                                used to help STRENGTH →en a point, letting
                                                                                it sit with
                                                                                the audience before moving on to
                                                                                the next topic. Become more comfortable
                                                                                with this
                                                                                pause and you will become a better
                                                                                public speaker.</p>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="right-image">
                                                                            <img src="{{url_for('static',filename='assets/images/services-image-02.jpg')}}"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <div class="thumb">
                                                                <div class="row">
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="left-text">
                                                                            <h4>Platform</h4>
                                                                            <p>This final public speaking tip is
                                                                                intended to help
                                                                                you recognize how you may come
                                                                                across to an audience. When you record
                                                                                yourself
                                                                                speaking and watch it back, you may
                                                                                notice that you do things that you
                                                                                didn’t even
                                                                                realize. This provides the opportunity
                                                                                to correct these issues before being in
                                                                                front of a
                                                                                live audience. Another option is to
                                                                                practice your speech in front of a
                                                                                friend or family
                                                                                member and ask for their honest
                                                                                feedback.</p>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="right-image">
                                                                            <img src="{{url_for('static',filename='assets/images/services-image-03.jpg')}}"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <div class="thumb">
                                                                <div class="row">
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="left-text">
                                                                            <h4>Practice</h4>
                                                                            <p>Mark Twain once said, “It usually takes
                                                                                me more than
                                                                                three weeks to prepare a good
                                                                                impromptu speech.” So, maybe your fear
                                                                                of public
                                                                                speaking comes from not being fully
                                                                                prepared. One way to overcome this,
                                                                                then, is to
                                                                                practice, practice, and practice some
                                                                                more. Each time you deliver your speech,
                                                                                you will
                                                                                become more comfortable. You’ll
                                                                                begin to learn it inside and out,
                                                                                increasing your
                                                                                confidence when delivering it for
                                                                                real.</p>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="right-image">
                                                                            <img src="{{url_for('static',filename='assets/images/services-image-04.jpg')}}"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <div class="thumb">
                                                                <div class="row">
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="left-text">
                                                                            <h4>Much More</h4>
                                                                            <p>Public speakers make presentations to a
                                                                                group.
                                                                                Presentations could range from
                                                                                speaking to a small number of employees
                                                                                to
                                                                                presenting to a large audience at a
                                                                                national conference or event.
                                                                                The same skill set and ability to be
                                                                                comfortable
                                                                                speaking in public are required
                                                                                regardless of the size of the group.</p>
                                                                            <div class="ticks-list"><span><i
                                                                                        class="fa fa-check"></i> Look
                                                                                    presentable</span>
                                                                                <span><i class="fa fa-check"></i> eye
                                                                                    contact</span>
                                                                                <span><i class="fa fa-check"></i>
                                                                                    smile</span>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 align-self-center">
                                                                        <div class="right-image">
                                                                            <img src="{{url_for('static',filename='assets/images/services-image.jpg')}}"
                                                                                alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Scripts -->
                <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
                <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>

            
{% endblock %}