{% extends 'base.html' %}

{% block head %}
<style>
    /* Actual card with shadow */
    .card1 {
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
        align-self: center;
    }
</style>

<title>Public Speaking Practice</title>
{% endblock %}

{% block body %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="{{url_for('static',filename='assets/images/logo.png')}}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">

                        <li class="scroll-to-section"><a href="/">Home</a></li>
                        <li class="scroll-to-section"><a href={{ url_for('uploading') }}>
                                Practice
                            </a></li>
                        <li class="scroll-to-section"><a href="#top" class="active">Report</a></li>
                        <!--    <li class="scroll-to-section"><a href="#services">Services</a></li> -->
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- Variables for local testing here -->

<!-- Title -->
<br>
<br>
<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h6></h6>
                    <h4>Your<em> Report</em> and Feedback</h4>
                    <div class="line-dec"></div>
                </div>
            </div>

            <!-- ***** this is what you spoke ***** -->

            <div class="col-lg-12 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <h4>This is what you spoke:</h4>
                            {% if transcript != "" %}
                            <p><b>{{ transcript }}</b></p>

                            {% else %}
                            <p> *Cricket Noises*... Something went wrong :( there's no transcript here!</p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--***************** FACE ANALYSIS START ******************-->
<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <center>
                <p>KNOW YOUR FACIAL STRENGTHS AND WEAKNESSES</p>
            </center>
            <center>
                <h3>AI Deep Facial Expression Analysis</h3>
            </center>
            <div class="line-dec"></div>
            <br>
            <br>

            <!-- ***** Full facial analysis OUTCOME  ***** -->
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <!-- data2=Pale Count, Var1=Smile Threshold -->
                            <h4>Facial Analaysis Summary</h4>
                            <h5>Emotions</h5>
                            {% if data2 > var1 %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b> <b>You had very little
                                    expression while speaking 😶😐, This gives off a sad/dull emotion and can also lead
                                    to
                                    the audience losing interest
                                </b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>Try to relax and give some natural expressions on your
                                    face.
                                    Keep recording yourself and keep improving based on the feedback .
                                    And you’ll see the improvement yourself.aim for positive/happy vibes only.
                                    <br>
                                    <b>Pro Tip: </b>Facial expressions combined with verbal delivery helps to engage and
                                    connect with the audience.
                                    Verbal and non-verbal communication should be matched to avoid confusion in
                                    audience.</b>
                                <br>
                                🅰️🅱️ + 😁💃🕺 = 💯🎉

                            </p>
                            {% else %}

                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>Amazing presentation!
                                    Your facial expressions were on point. <br>
                                    Happiness and Positivity were the emotions throught the presentation!<br>
                                    😄💯✨
                                </b>

                            </p>

                            {% endif %}

                            <h5>Confidence Level</h5>
                            <!-- data6=Angry count, var3=angry threshold -->
                            {% if data6 > var3 %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>You looked too nervous during your presentation.</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>
                                    Even if you're nervous, act confident! Don't let the audience know your nervous 🤫✨

                                    <br>
                                    <b>Pro Tip:
                                    </b>Fake it till you make it is a foolproof stratergy when it comes to public
                                    speaking.</b>

                            </p>
                            {% else %}

                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>
                                    You were relaxed and confident throughout. Good job! <br>💯👍</b>

                            </p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <!-- ***** SMILE OUTCOME  ***** -->
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <!-- data1=smile count, var1=Smile Threshold, sm=smile percentage -->
                            <h4>Smile</h4>
                            {% if data1 == 0 %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b> <b>You did not smile enough
                                    ☹️</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>Smiling is a very important part of presentation.🙂💯</b>

                            </p>


                            {% elif data1>var1 %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b> <b>Permanent smile on face
                                    through presentation. 😬</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>Smiling is an important part of presentation
                                    but try avoiding smiling constantly. Sometimes you tend to make up for your
                                    awkwardness with smiles.
                                    <br>
                                    Don't feel too conscious and just relax 😬🌚
                                    <br><b>Pro Tip:</b> Smiling makes you and your speech more receptive to the
                                    audience.
                                    But an enduring smile can come off as unnatural and give you out as awkward.<br></b>

                            </p>

                            {% elif sm > 15 %}
                            <p>
                                <b>You smiled <b>{{ sm }}</b> percent of the speech!</b>
                                <br>
                                <b><b><span style="color: green"><b>STRENGTH → </b></span></b></b> <b>Appropriate amount
                                    of smiling. Well done! 😁💯✨</b>

                            </p>

                            {% else %}

                            <p>
                                <b></b> <b><b>
                                        Something went wrong :( *Awkward Smiling*</b></b>

                            </p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- ***** Eyes  ***** -->
<div id="services" class="services section">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <h4>Blinking</h4>
                            <p>
                            {{goodblink}}
                            {{noblink}}
                            {{moreblink}}
                            {{ goodeye }}
                            {{ badeye }}
                            {{ videoerr }}
                            </p>

                            {% if goodblink==True %}

                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>
                                    Blinking looked natural. You looked confident and collected. Right on! 😉💯👍</b>

                            </p>

                            {% elif noblink==True %}

                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>You were hardly blinking 🙃😵</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>You can practice before this AI powered tool and see when
                                    your expressions are coming out awkward.</b>
                                <br>
                                <b><b>Pro Tip:
                                    </b>Start by focusing at one point, such as the Web cam in meetings or a friend in
                                    the audience and keep happy/positive expressions unless required by the theme of the
                                    speech.</b></b>

                            </p>

                            {% elif moreblink==True %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>Excessive blinking during speech.</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>You can keep practising your speech before this AI powered
                                    tool
                                    and monitor your blinking till it's natural. Don't be nervous! <br> Take a deep
                                    breath and go!</b>
                                <br>
                                <b><b>Pro Tip:
                                    </b>Excessive blinking often comes from nervousness and awkwardness.
                                    <br>Confidence in your speech content and presentation environment will
                                    automatically
                                    regularize your blinking. </b></b>

                            </p>

                            {% else %}

                            <p>
                                <b></b> <b><b>
                                        Something went wrong :( *Confused Blinking*.</b></b>

                            </p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <h4>Eye Contact</h4>
                            {% if goodeye %}
                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>
                                    You maintained proper eye contact throughout the speech. <br> Good going! 👀💯👍</b>

                            </p>

                            {% elif badeye==True %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>Disconnecting eye contact throughout presentation</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>Avoid breaking eye contact with the audience while
                                    presenting.
                                    <br>When in front of a live audience, try to look at them while speaking.
                                    <br>You can practice to keep looking at yourself while recording with this AI
                                    powered tool
                                    <br>If you are camera shy, it’ll go away after some time of practicing.</b>
                            </p>
                            {% elif videoerr==True %}
                            <p>
                                <b></b> <b><b>
                                        Video too short, Please record a video longer than 1 minute.</b></b>

                            </p>
                            {% else %}
                            <p>
                                <b></b> <b><b>
                                        Something went wrong :( *Visible Confusion 👀👀*.</b></b>

                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<!--***************** FACE ANALYSIS END *****************-->

<!--***************** VOICE ANALYSIS START ******************-->
<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <center>
                <p>KNOW YOUR VOCAL STRENGTHS AND WEAKNESSES</p>
            </center>
            <center>
                <h3>AI Voice Analysis</h3>
            </center>
            <div class="line-dec"></div>
            <br>
            <br>

            <!-- ***** Grammar OUTCOME  ***** -->
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <!-- gram=grammatical mistake count-->
                            <h4>Grammar Analaysis</h4>

                            {% if gram > 5 %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b> <b>Grammar needs improvement. Check out the grammatical mistakes you made there!👉
                                </b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>Reading English books and watching English content can help in building up your grammar and as an added bonus you build up your vocabulary.</b>
                                    <br>
                                    <b>
                                    <b>Pro Tip: </b>Find yourself a good series to binge watch and watch your grammar and vocabulary go 📈</b>
                                    </b>
                            </p>
                            {% else %}

                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>Your grammar is impressive 💯, no mistakes found <br>
                                    <br>
                                    Now your goal should be to further build you vocabulary, having a vast word bank helps accurately get your message accross when you make a speech or presentation.
                                </b>

                            </p>

                            {% endif %}

                            <h5>Number of Pauses(Disfluency Analysis)</h5>
                            <!-- data6=Angry count, var3=angry threshold -->
                            {% if pau == dur %}
                            <p>
                                <b><b>Number of pauses/instances of disfluency : {{ pau }}</b></b>
                                <br>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>You took too many pauses while speaking.</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>
                                    It's okay to take pauses. Be comfortable with it. But don't overuse it.
                                    Avoid using filler words like : <i>um, uh, like</i> 
                                    and you will find your audience totally engaged in your speech.

                                    <br>
                                    <b>Pro Tip:
                                    </b>Learn to pause like a pro. Don't pause for more than 2 seconds
                                    <br>Use your pauses when moving from one idea to another.
                                    <br>Use your pauses for dramatic effect.🎭🤩</b>

                            </p>
                            {% else %}

                            <p>
                                <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>
                                    No of pauses and filler words used : {{ pau }}</b><br>
                                    <b><b>FEEDBACK → </b></b> <b> 
                                        Your timing and frequency of pauses are compatible with your speech duration. Good job! <br>💯👍</b>
                            </p>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <!-- ***** Corrected Transcript ***** -->
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <!-- transcript=transcript of speech, crt_text=grammatically corrected transcript -->
                            <h5>Orignal Transcript (This is what you spoke)</h5>

                            {% if transcript != "" %}
                            <p><b>{{ transcript }}</b></p>

                            {% else %}
                            <p> *Cricket Noises*... Something went wrong :( there's no transcript here!</p>

                            {% endif %}

                            <h5>grammatically corrected transcript</h5>
                            
                            {% if crt_text != "" %}
                            <p><b>{{ crt_text }}</b></p>

                            {% else %}
                            <p> *Cricket Noises*... Something went wrong :( there's no transcript here!</p>

                            {% endif %}
                            
                            <h5>Corrections</h5>
    
                            {% for t in range(crt_l|length) %}
                                <p>
                                <b>
                                <mark style="background-color:#FFCCCB";>{{ crt_l[loop.index - 1] }}</mark> -> <mark style="background-color:lightgreen";>{{ t_l[loop.index - 1] }}</mark>
                                <br>
                                </b>
                                </p>    

                        
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- ***** Rate of speech  ***** -->
<div id="services" class="services section">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <h4>Rate of speech</h4>
                            <!-- <p>
                            {{ ros }}    
                            {{ ros_mins }}
                            {{ ros_perf }}
                            {{ ros_slow }}
                            {{ ros_fast }}
                            {{ ros_error }}
                            {{ videoerr }}
                            </p> -->

                            {% if ros_perf == True %}

                            <p>
                                <b><b>You spoke {{ ros_mins }} words per minute</b></b><br>
                                <b><span style="color: green"><b>STRENGTH → </b></span> Rate of speech is perfect, awesome work! 💯✨</b> <b>
                                </b>

                            </p>

                            {% elif ros_slow %}

                            <p>
                                <b><b>You spoke {{ ros_mins }} words per minute</b></b><br>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>Your rate of speech is below 2-3 words per second, the standard public speaking speech-rate. 📉🙅</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b>A slow rate of speech can make the audience lose interest in your speech.
                                    Practice your speech before this AI tool over and over and try to improve the rate of speech with 
                                    each recording.</b>
                                <br>
                                <b><b>Pro Tip:
                                    </b>You can watch videos of your favorite speakers and try to follow their speed of speech for practice.</b></b>

                            </p>

                            {% elif ros_fast==True %}
                            <p>
                                <b><b>You spoke {{ ros_mins }} words per minute</b></b><br>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>Your rate of speech is too fast for the audience to understand.</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b></b><b>
                                Your rate of speech determines how clearly your message is understood by the audience or if they think you are rambling. 
                                Try to stay between 130 to 150 words per minute. <br>Nervousness can also be a reason for 
                                a fast rate of speech. Try to relax.🧘‍♀️💃🕺<br>Keep practicing with our AI powered platform and try slowing 
                                down your speech.</b>
                            </p>

                            {% elif ros_error == true %}
                            <p> *Cricket Noises*... Something went wrong :( Please ensure your video is longer than 1 Minute!</p>

                            {% else %}
                            <p> *Cricket Noises*... Something went wrong :( Please ensure your video is longer than 1 Minute!</p>
                    

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="blog-post">
                    <div class="down-content">
                        <div class="left-text">
                            <h4>Articulation </h4>
                            {% if artigood == True %}
                                
                                    <p>
                                        <b><span style="color: green"><b>STRENGTH → </b></span></b> <b>
                                            You were very clear with your words, Crispy! 🔥💯👍</b>

                                    </p>

                            {% else %}
                            <p>
                                <b><span style="color: red"><b>WEAKNESS → </b></span></b>
                                <b>Your Articulation needs some work.</b>
                                <br>
                                <b><b>FEEDBACK → </b></b> <b></b><b>You can watch English content and observe how they are clear and confident 
                                    with each word to work on your articulation.</b>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                <!-- Scripts -->
                <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
                <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
                <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>


                {% endblock %}