<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/templatemo-digimedia-v3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/assets/css/owl.css')}}">
    <!--
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <style>
        .circle {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            font-size: 20px;
            color: rgb(249, 239, 239);
            text-align: center;
            background-color: rgb(3, 24, 252);
        }

        .parent {
            width: fit-content;
            margin: 1px;
            padding: 2px 2px;
            text-align: center;
        }

        .child {
            display: inline-block;

            padding: 1rem 1rem;
            vertical-align: middle;
        }

        .con {
            height: fit-content;
            width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: left;
            justify-content: left;

        }

        /* Actual card with shadow */
        .card1 {
            padding-left: 1cm;
            padding-right: 1cm;
            height: fit-content;
            width: fit-content;
            border-radius: 5px;
            box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
            align-self: left;
        }
    </style>
    <title>Monami</title>
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">Main</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** important Area start ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; color: #00bfff"><b>For ambitious Leaders and
                                            Professionals who want to :</b></h5>
                                        <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">Improve Communication, Sound more
                                            confident and become a powerful public speaker</h1><br>
                                        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif; color: #00bfff"><b>With AI-powered solution for practicing your presentations and getting instant feedback on areas of improvement.</b>
                                        </h5><br>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{{url_for('static',filename='assets/images/monamidp.png')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="section" id="blog" style="background-color: #9ccaf3;">

        <div class="container mb-3">

            <center><h3 class="section-title mb-5" style="font-family: Georgia, 'Times New Roman', Times, serif"><b>HOW TO USE ?</b></h3></center>

        </div>

    </section>

    <section class="section" id="blog">
    <div>
        <div style="width:fit-content;Text-align:left;float:left; padding-left: 4cm;">
            <div class="cont">

                <div class="card1" style="background-color: rgb(244, 244, 252);">
                    <br>
                        <h6>1. Click on step 1 <b>Turn On Camera</b> to start the camera</h6>
                        <h6>2. Click on step 2 <b>Record Audio</b> to record the audio</h6>
                        <h6>A pop up will appear click on <b>record audio</b></h6>

                        <h6>3. Click on step 3 <b>Start Recording</b>to start the video recording</h6>
                        <h6>4. Click on step 4 <b>Stop Recording</b>to stop the video recording</h6>
                        <h6>5. Click on step 5 <b>Save Recording</b>to save the video recording</h6>
                        <h6>6. Click on <b>stop-recording</b> in audio pop up that appeard <br>previously to stop audio recording</h6>
                        <h6>7. Click on step 6 <b>DONE</b> to get to next stage after recording</h6>
                        <br>

                </div>
            </div>
        </div>
        <div style="Text-align:right;Width:fit-content;float:right;padding-right: 5cm;">
            <iframe width="560" height="290" src="https://www.youtube.com/embed/i5mYphUoOCs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<center>
    <section class="section" id="blog" style="background-color: #9ccaf3;">

        <div class="container mb-3">

            <h3 class="section-title mb-5" style="font-family: Georgia, 'Times New Roman', Times, serif"><b>Start Practicing With Us Now</b></h3>
            
            <div class="parent">
                <div class="child">
                    <div class="circle">1</div>
                </div>
                <div class="child">
                    <button id="start-camera" class="btn btn-primary" style="background-color: blue;">Turn On Camera</button>
                </div>
                <div class="child">
                    <div class="circle">2</div>
                </div>
                <div class="child">
                    <form method="post" action="{{ url_for('tasks') }}">
                        <input type="submit" value="Record Audio" name="recordings" id="record"
                            class="btn btn-primary" style="background-color: rgb(5, 147, 242);"/>&nbsp;
                    </form>
                </div>
            </div>
            
            <br>
            <div class="parent">
                <div class="child">
                    <div class="circle">3</div>
                </div>
                <div class="child"><button id="start-record" class="btn btn-success" >Start Recording</button>&nbsp;
                </div>
                <div class="child">
                    <div class="circle">4</div>
                </div>
                <div class="child">
                    <button id="stop-record" class="btn btn-danger" >Stop Recording</button>&nbsp;
                </div>
                <div class="child">
                    <div class="circle">5</div>
                </div>
                <div class="child">
                    <button id="save-recording" class="btn btn-success">Save Recording</button><br><br>
                </div>
                
            </div>
            <br>
            <video id="video" width="560" height="315" autoplay></video><br>
            <br>
            <div class="parent">
                <div class="child">
                    <div class="circle">6</div>
                </div>
                <div class="child">
                    <a href={{ url_for('index') }}><button id="next"
                            class="btn btn-danger">DONE !</button></a>
                </div>
                
            </div>


        </div>

    </section>
</center>

    
                        <script>
                            isVideoStop = false;
                            window.onload = function () {

                                let camera_button = document.querySelector("#start-camera");
                                let video = document.querySelector("#video");
                                let start_button = document.querySelector("#start-record");
                                let stop_button = document.querySelector("#stop-record");
                                let save_button = document.querySelector("#save-recording");

                                let camera_stream = null;
                                let media_recorder = null;
                                let blobs_recorded = [];

                                camera_button.addEventListener('click', async function () {
                                    camera_stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
                                    video.srcObject = camera_stream;
                                });

                                start_button.addEventListener('click', function () {
                                    // set MIME type of recording as video/webm
                                    media_recorder = new MediaRecorder(camera_stream, { mimeType: 'video/webm' });

                                    // event : new recorded video blob available 
                                    media_recorder.addEventListener('dataavailable', function (e) {
                                        blobs_recorded.push(e.data);
                                    });

                                    // event : recording stopped & all blobs sent
                                    media_recorder.addEventListener('stop', function () {
                                        // create local object URL from the recorded video blobs
                                        camera_stream.getTracks().forEach(function (track) {
                                            track.stop();
                                        });
                                    });

                                    // start recording with each recorded blob having 1 second video
                                    media_recorder.start(1000);
                                });

                                stop_button.addEventListener('click', function () {
                                    media_recorder.stop();
                                    isVideoStop = true;
                                });

                                save_button.addEventListener('click', function () {
                                    if (isVideoStop) {
                                        const blob = new Blob(blobs_recorded, {
                                            type: 'video/webm'
                                        });
                                        const videoUrl = URL.createObjectURL(blob);
                                        var data = new FormData()
                                        data.append('file', blob, 'test.webm');
                                        let uploadUrl = 'http://127.0.0.1:5000/upload';
                                        fetch(uploadUrl, {
                                            method: 'POST',
                                            body: data
                                        }).then(res => {
                                            return res.json();
                                        }).then(res => {
                                            console.log('res', res);
                                            alert('video save successfully.')
                                        });
                                    }
                                });


                            }

                        </script>


                <!-- ***** important End ***** -->



                <div id="#" class="about section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s"
                                            data-wow-delay="0.5s">
                                            <img src="{{url_for('static',filename='assets/images/img_speak.jpg')}}"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                                        data-wow-delay="0.5s">
                                        <div class="about-right-content">
                                            <div class="section-heading">
                                                <h6>PUBLIC SPEAKING SKILLS</h6>
                                                <h4>What is Public speaking <em>skills</em></h4>
                                                <div class="line-dec"></div>
                                            </div>
                                            <p style="color: black;"><b>Public speaking is a soft skill that requires excellent communication
                                                skills, enthusiasm, and
                                                the
                                                ability to engage with an audience.
                                                Soft skills are interpersonal skills that are less technical and more
                                                about how you interact
                                                with
                                                others.</b></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scripts -->
            <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
            <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
            <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
            <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
            <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>


</body>

</html>